$navbar-default-bg: lightpink;

@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: #6700C3;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #00C303;
  text-decoration: none;
}