<div class= "container">
  <footer class= "footer">
    <small>
    Copyright &copy;  <a href="https://github.com/misselliev"> Eli Villalejos</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path%></li>
      </ul>
    </nav>
  </footer>
</div>